body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #5e610b;
}

.quem-somos{
    background-color: #8181f8;
    color: white;

}

.margin{
    padding-bottom: 100px;
    padding-top: 10px;
}

.parceiros{
    background-color: #8181f8;
}

.serviços{
    background-color: #8181f8;
    color: white;
}